h1{text-align: center;}
h2{text-align: center;}
p{ text-align: center;
    background-image: url("https://static.todamateria.com.br/upload/se/ma/semantica-og.jpg"); 
    background-size: cover;
    background-position: center;
}
ul{text-align: center;}